<!doctype html>
<html>
<head>
    <title>Two Truths And A Lie</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <script src="https://kit.fontawesome.com/077191d827.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="profile.css">
</head>
<body>

<div class="container">

    <div class="page-header text-center">
        <h1> Two Truth And A Toad</h1>
        <a href="/logout" class="btn btn-default btn-sm">Logout</a>
    </div>
    <div class="logout">
    </div>
    <div class="row">

        <!-- LOCAL INFORMATION -->
        <!-- <div class="col-sm-6">
            <div class="well">
                <h3><span class="fa fa-user"></span> Local</h3>

                <% if (user.local.email) { %>
                    <p>
                        <strong>id</strong>: <%= user._id %><br>
                        <strong>email</strong>: <%= user.local.email %><br>
                        <strong>password</strong>: <%= user.local.password %>
                    </p>

                    <a href="/unlink/local" class="btn btn-default">Unlink</a>
                <% } else { %>
                    <a href="/connect/local" class="btn btn-default">Connect Local</a>
                <% } %>

            </div>
        </div> -->
        <div class="col-sm-6">

          <h3>Remember That Funny Toad ? HA! </h3>
          <ul class="messages">
          <% for(var i=0; i<messages.length; i++) {%>
            <% if(messages[i].feeling === "HA!" ) {%>
            <li class="message">
              <span><%= messages[i].name %></span>
              <span><%= messages[i].truth %></span>
              <span><%= messages[i].truthy %></span>
              <span><%= messages[i].lie %></span>
              <span><%= messages[i].thumbUp %></span>
              <span><i class="fas fa-frog" aria-hidden="true"></i></span>
              <span><i class="fa fa-trash" aria-hidden="true"></i></span>
            </li>
            <% } %>
            <% } %>
          </ul>
        <!-- <i class="fas fa-frog"></i> -->
          <h2>The Toad Remains</h2>
        <!-- <% if (user.local.email) { %>
          <form action="/messages" method="POST">
            <input type="text" value="" placeholder="name" name="name">
            <input type="text" placeholder="truth" name="truth">
            <input type="text" placeholder="truth" name="truthy">
            <input type="text" placeholder="toad" name="lie">
            <button type="submit">Post</button>
          </form>
        </div>
        <% } %> -->
        <a href="/profile"> <button type="button" name="button"> Profile Page</button> </a>
</div>

<script src="main.js"></script>

</body>
</html>
